- current_user.groups.each do |group|
  = link_to group_messages_path(group), class: "groups__link" do
    .groups__group
      .groups__group__name
        = group.name
      .groups__group__message
        = group.show_last_message