%li{class: "message"}
  %ul{class: "message__info"}
    %li{class: "message__info message__user-name"}
      aaa
    %li{class: "message__info message__date"}
      2019/07/29(Mon) 23:59:00
  .message__text
    hello