%li{class: "message"}
  %ul{class: "message__info"}
    %li{class: "message__info message__user-name"}
      = message.user.name
    %li{class: "message__info message__date"}
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__text
    - if message.body.present?
      = message.body
  = image_tag message.image.url if message.image.present?