.sidebar
  .sidebar__user
    .sidebar__user__name
      username
    .sidebar__icon
      .sidebar__icon__edit
        = fa_icon "edit"
      .sidebar__icon__setting
        = fa_icon "cog"
  .sidebar__group
    .sidebar__group__name
      gruopname1
    .sidebar__group__message
      hello!
  .sidebar__group
    .sidebar__group__name
      gruopname2
    .sidebar__group__message
      hello!!