.sidebar
  .sidebar__user
    .sidebar__user__name
      username
    .sidebar__icon
      .sidebar__icon__edit
        = fa_icon "edit"
      .sidebar__icon__setting
        = fa_icon "cog"
  .sidebar__group
    .sidebar__group__name
      gruopname1
    .sidebar__group__message
      hello!
  .sidebar__group
    .sidebar__group__name
      gruopname2
    .sidebar__group__message
      hello!!
.contents
  .contents__group-info
    .contens__group-info__name
      groupname1
    .contents__group-info__member
      Member: tosu
    %button.contents__edit-btn
      Edit
  .contents__chat-space
    .contents__chat-space__chat
      .contents__chat-space__chat__user-name
        tosu
      .contents__chat-space__chat__date
        2019/07/29(Mon) 23:59:00
      .contents__chat-space__chat__message
        hello
    .contents__chat-space__chat
      .contents__chat-space__chat__user-name
        nico
      .contents__chat-space__chat__date
        2019/07/31(Wed) 20:40:00
      .contents__chat-space__chat__message
        hello!!!
  .contents__chat-create
    .contents__chat-create__input
    .contents__chat-create__image
    .contents__chat-create__send


