.notification {
  color: $white;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  .alert {
    background-color: $alert-orange;
  }
  .notice {
    background-color: $water-blue;
  }
}