@import "./valiable";
.sidebar {
  width: 300px;
  color: #ffffff;
  background-color: #2f3e51;
  height: 100vh;
  float: left;
  position: fixed;
  &__header {
    padding: 0 20px;
    background-color: #253141;
    height: $header_height;
    line-height: $header_height;
    &__name {
      font-size: 16px;
      font-weight: bold;
      float: left;
    }
    &__icons {
      float: right;
    }
    &__icon {
      display: inline;
    }
  }
}

.groups {
  padding: 20px 20px 0 20px;
  font-weight: bold;
  &__group {
    padding-bottom: 40px;
    &__name {
      font-size: 15px;
      padding-bottom: 5px
    }
    &__message {
      font-size: 11px;
    }
  }
}